<div class="container">
  <div class="flex justify-between items-center">
    <h1 class="title">Students</h1>
    <button class="btn btn-success" (click)="onAddBtnClick()">Add</button>
  </div>
  
  <app-table
    class="max-w-2xl"
    [columns]="columns"
    [rows]="rows"
    (onEditOutput)="onEditOutput($event)"
    (onDeleteOutput)="onDeleteOutput($event)"
  >
  </app-table>

  @if (isModalOpen) {
  <modal (onCloseOutput)="onModalClose()">
    <add-edit [student]="selectedStudent" (onCloseOutput)="onSaveClose()"></add-edit>
  </modal>
  }
</div>