@import 'tailwindcss';

h1.title {
  @apply text-3xl font-bold pb-5;
}

.container {
  @apply w-full;
}

button.btn {
  @apply px-4 py-2 rounded bg-gray-200 hover:bg-gray-300 disabled:bg-gray-300 disabled:cursor-not-allowed transition-all;
  &.btn-primary {
    @apply bg-blue-500 hover:bg-blue-600;
  }
  &.btn-success {
    @apply bg-green-500 hover:bg-green-600 text-white;
  }
  &.btn-warning {
    @apply bg-red-500 hover:bg-red-600;
  }
}

input{
  &.disabled{
    @apply opacity-50;
  }
}

select{
  @apply border border-gray-300 rounded px-3 py-2 text-sm focus:outline-none focus:ring-2 focus:ring-blue-500 w-full;
}

html,
body {
  height: 100%;
}
